link {
    width: 100%;
}

.card {
    border: 2px solid var(--color-background-feature);
    border-radius: var(--border-radius-s);
    width: 100%;
    height: 200px;
    background-color: var(--color-background-feature);
    padding: 1.5em;
    display: flex;
    flex-direction: row;
}

.cardHeader {
    padding: 0 0 0.5em;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-text-light-gray);
}

.cardTag {
    font-size: var(--font-size-small);
    color: var(--color-text-light-gray);
    margin: 0.2em 1em 0.5em 0;
    padding: 0.5em;
    border-radius: var(--border-radius-xs);
    background-color: var(--color-text-dark-gray);
    display: inline-block;
}

.cardDetails {
    font-size: var(--font-size-small);
    color: var(--color-text-light-gray);
    padding: 1em 0 0;
    text-decoration: none;
}

.cardStatusTitle {
    color: var(--color-text-dark-gray);
    text-decoration: none;
}

.coverImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: var(--border-radius-s);
    margin-left: auto;
}
