



.card {
    border: 2px solid var(--color-background-feature);
    border-radius: var(--border-radius-s);
    width: 100%;
    height: 150px;
    background-color: var(--color-background-feature);
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0.5em;
}

.cardHeader {
    padding: 0 0 0.5em;
    font-weight: 600;
}


.cardImage {
    height: 100px;
    width: 100px;
    border-radius: var(--border-radius-m);
    object-fit: cover;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}