.card {
    border: 2px solid var(--color-background-feature);
    border-radius: var(--border-radius-s);
    width: 100%;
    height: fit-content;
    min-height: 200px;
    background-color: var(--color-background-feature);
    padding: 1.5em;
}

.cardHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0.5em;
}

.cardHeader {
    padding: 0 0 0.5em;
    font-weight: 600;
}

.tag {
    font-size: var(--font-size-small);
    color: var(--color-text-light-gray);
    margin: 1em 1em 1em 0;
    padding: 0.5em;
    border-radius: var(--border-radius-xs);
    display: inline-block;
    justify-content: space-around;
}

.cardDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 120px;
}

.cardImage {
    height: 150px;
    border-radius: var(--border-radius-m);
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 500px) {
    .cardImage {
        height: 200px;
    }
}
