.wrapper {
    display: flex;
    justify-content: left;
    margin: 3em 2em;
}

.collectionContainer {
    margin: 2em 0em;
    padding: 1em 0;
}

.descriptionContainer {
    max-width: 600px;
}

.tagsContainer {
    max-width: 400px;
}

.tagList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tag {
    font-size: var(--font-size-small);
    color: var(--color-text-light-gray);
    margin: 1em 1em 1em 0;
    padding: 0.5em;
    border-radius: var(--border-radius-xs);
    background-color: var(--color-text-dark-gray);
    display: inline-block;
    justify-content: space-around;
}

.additionalContainer,
.statusContainer {
    margin: 1em 0;
    padding: 1em 1.5em;
}

.descriptionContainer,
.tagsContainer {
    background-color: #25262c;
    border-radius: var(--border-radius-s);
    margin: 1em 0;
    padding: 1em 1.5em;
}

.statusTitle {
    color: var(--color-text-dark-gray);
}

.statusDetails {
    font-size: var(--font-size-small);
    padding: 1em 0 0;
}
