.addItemButton {
    padding: 0.8em 1em;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: var(--border-radius-s);
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    cursor: pointer;
    margin: 1em 0.5em;
    font-size: var(--font-size-body);
}

.addItemButton:hover {
    transform: scale(1.05);
}
