.wrapper {
    background-color: var(--color-background-feature);
    width: 80%;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-s);
    padding: 20px;
}

.close {
    margin-left: 95%;
    top: 10px;
    right: 10px;
    font-size: 1.8rem;
    color: var(--color-text-light-gray);
    background: none;
    border: none;
    cursor: pointer;
}

.close:hover {
    color: var(--color-primary);
}

h2 {
    margin: 5px;
}
.requiredLabel {
    font-size: var(--font-size-small);
    color: var(--color-text-dark-gray);
    padding: 0 0.4em;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.emailInput {
    color: var(--color-text-light-gray);
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    background: var(--color-background-black);
    border: none;
    border-radius: 4px;
    margin: 10px auto;
}

.passwordInput {
    color: var(--color-text-light-gray);
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    background: var(--color-background-black);
    border: none;
    border-radius: 4px;
    margin: 10px auto;
}

.button {
    background: var(--color-text-mid-gray);
    color: var(--color-text-light-gray);
    padding: 8px;
    border: 1px solid var(--color-background-feature);
    border-radius: 4px;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    margin: 1em 0 2em;
    cursor: pointer;
}

.button:hover {
    background: var(--color-primary);
    color: var(--color-background-black);
}
