@import "./src/global.css";

.wrapper {
  background-color: var(--color-background-black);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  height: 80px;
}

.userButtons {
  position: absolute;
  right: 0;
  margin: 20px;
}

button {
  color: var(--color-text-light-gray);
  background-color: transparent;
  border: none;
}
