@import "./src/global.css";

.wrapper {
  background-color: var(--color-background-black);
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  height: 100px;
  position: relative;
  left: -15px;
  top: -10px;
}

.userButtons {
  position: absolute;
  right: 0;
  margin: 20px;
}

button {
  color: var(--color-text-light-gray);
  background-color: transparent;
  border: none;
  font-family: "lato", sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  cursor: pointer;
}

button:hover {
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .logo {
    height: 100px;
  }
}


