.wrapper {
    background-color: var(--color-background-black);
    width: 100%;
    max-width: 1440px;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1em 0;
}

.logo {
    height: 70px;
    position: relative;
    left: 3px;
}

.uiSection {
    margin-top: 5px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.userButtons {
    padding: 0px 5px 10px 5px;
    width: 150px;
    text-align: right;
}

.userButton {
    color: var(--color-text-light-gray);
    background-color: transparent;
    border: none;
    font-family: 'lato', sans-serif;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body);
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
}

.userButton:hover {
    color: var(--color-primary);
}

.userName {
    position: inherit;
    right: 30px;
    width: fit-content;
    text-align: right;
}



@media (min-width: 768px) {
   
    .logo {
        height: 100px;
    }

    .uiSection {
        margin-top: 20px;
        margin-right: 10px;
    }

}
