.wrapper {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

.activeLink {
    color: var(--color-primary);
    background-color: transparent;
    padding: 5px;
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    border-bottom: 2px solid;
}

.inactiveLink {
    color: var(--color-text-light-gray);
    background-color: transparent;
    border: none;
    padding: 5px;
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    text-decoration: none;
    font-size: var(--font-size-body);
}
.inactiveLink:hover {
    color: var(--color-primary);
}

.newCollectionButton {
    width: 90%;
    margin: 20px;
    padding: 10px;
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius-s);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-bold);
    color: var(--color-background-black);
    cursor: pointer;
    margin: 0 10px;
}

.newCollectionButton:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        align-items: center;
    }
    .links {
        padding-top: 0;
        gap: 20px;
        margin: 2em 4em 0;
    }
    .newCollectionButton {
        width: auto;
        min-width: 200px;
    }
}
