@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#root {
    width: 100%;
}

html {
    scrollbar-gutter: stable;
    display: flex;
    /* justify-content: center; */
}

/* theme overrides */

html.dark-mode {
    --color-primary: #fcc323; /*active link colour too*/
    --color-text-red: #e30022; /*for errors or deletion*/
    --color-text-light-gray: #e1e2e2;
    --color-text-mid-gray: #8c8d8f;
    --color-text-dark-gray: #999; /*inactive text colour*/
    --color-background-black: #1b1c22; /*The main background */
    --color-background-dark: #25262c;
    --color-background-feature: #323338;
    --color-loading-spinner: #01e417;
    --color-loading-spinner-secondary: rgba(251, 255, 0, 0.9);
    --color-loading-spinner-tertiary: rgba(255, 24, 24, 0.8);
    --color-loading-spinner-quaternary: rgba(54, 255, 4, 0.7);
    --color-loading-spinner-quinary: rgba(255, 251, 7, 0.6);
    --color-loading-spinner-senary: rgba(255, 17, 0, 0.5);
    --color-card-hover: #3a3a40;
}

html.light-mode {
    --color-primary: #16701b;
    --color-text-red: #e30022;
    --color-text-light-gray: #25262c;
    --color-text-mid-gray: #737373;
    --color-text-dark-gray: #5e5e5e;
    --color-background-black: #f2f2f2;
    --color-background-dark: #e0eed7;
    --color-background-feature: #a0c87f;
    --color-loading-spinner-secondary: rgba(22, 112, 27, 1);
    --color-loading-spinner-tertiary: rgba(255, 24, 24, 0.8);
    --color-loading-spinner-quaternary: rgba(125, 125, 125, 0.7);
    --color-loading-spinner-quinary: rgba(252, 195, 35, 1);
    --color-loading-spinner-senary: rgba(255, 17, 0, 0.5);
    --color-card-hover: #92b86f;
}

:root {
    /* Font */
    --font-family-body: 'Lato', sans-serif;

    /* Font Sizes */
    --font-size-heading: 3rem; /*h1*/
    --font-size-subheading: 2rem; /*h2*/
    --font-size-body: 1rem; /*p*/
    --font-size-small: 0.8rem;

    /* Font weights */
    --font-weight-bold: 700; /*for headings & links*/
    --font-weight-light: 300;

    /* Border Radius */
    --border-radius-xs: 6px;
    --border-radius-s: 8px;
    --border-radius-m: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* General Styles */

body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    margin: 0 1.5em;
    width: 100%;
    max-width: 1440px;
    padding: 0;
    background-color: var(--color-background-black);
    color: var(--color-text-light-gray);
}

@media (min-width: 768px) {
    body {
        margin: 0 auto;
    }
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    line-height: 1.5;
}

.tagReptile {
    background-color: #00b500;
}
.tagMammal {
    background-color: #d00023;
}

.tagFish {
    background-color: #00d0ad;
}

.tagAmphibian {
    background-color: #c000c8;
}
.tagBird {
    background-color: #f07623;
}
