.wrapper {
    background-color: var(--color-background-feature);
    width: 80%;
    max-width: 550px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-s);
    padding: 20px 40px 40px 40px;
}

.close {
    margin-left: 100%;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: var(--color-text-light-gray);
    background: none;
    border: none;
    cursor: pointer;
}

.close:hover {
    color: var(--color-primary);
}

/* Text Styling */

h2 {
    margin: 5px;
}

.requiredLabel {
    font-size: var(--font-size-small);
    color: var(--color-text-dark-gray);
    padding: 0 0.4em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* Input styling */

.description {
    font-family: var(--font-family-body);
    color: var(--color-text-light-gray);
    width: 100%;
    height: 100px;
    padding: 8px;
    font-size: 1rem;
    background: var(--color-background-black);
    border: 1px solid var(--color-text-mid-gray);
    border-radius: 4px;
    margin: 10px auto;
    resize: vertical;
}

.name {
    font-family: var(--font-family-body);
    color: var(--color-text-light-gray);
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 1rem;
    background: var(--color-background-black);
    border: 1px solid var(--color-text-mid-gray);
    border-radius: 4px;
    margin: 10px auto;
    resize: vertical;
}

.image {
    font-family: var(--font-family-body);
    color: var(--color-text-light-gray);
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    background: var(--color-background-black);
    border: 1px solid var(--color-text-mid-gray);
    border-radius: 4px;
    margin: 10px auto;
}

.select {
    background-color: var(--color-background-black);
    font-family: var(--font-family-body);
    font-size: 1rem;
    padding: 0.5em 1em;
    margin: 0.8em 0;
    color: var(--color-text-mid-gray);
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--color-text-mid-gray);
    border-radius: 4px;
}

.button {
    background: var(--color-text-mid-gray);
    color: var(--color-text-light-gray);
    padding: 8px;
    border: 1px solid var(--color-background-feature);
    border-radius: 4px;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    margin-bottom: 10px;
    cursor: pointer;
}

.button:hover {
    background: var(--color-primary);
    color: var(--color-background-black);
}
